<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data Science Marks Form</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
</head>
<body>

    <div class="container mt-5">
        <div class="row">
            <div class="col-md-6 offset-md-3">

                <h3 class="mb-4">Data Science Subjects Marks Form</h3>

                <form method="post">
                    <div class="mb-3">
                        <label for="subject1" class="form-label">Ethics of Data Science
                        </label>
                        <input type="number" class="form-control" id="subject1" name="subject1" required>
                    </div>
                    <div class="mb-3">
                        <label for="subject2" class="form-label">Big Data  </label>
                        <input type="number" class="form-control" id="subject2" name="subject2" required>
                    </div>
                    <div class="mb-3">
                        <label for="subject3" class="form-label">Machine Learning</label>
                        <input type="number" class="form-control" id="subject3" name="subject3" required>
                    </div>
                    <div class="mb-3">
                        <label for="subject4" class="form-label">Deep Learning</label>
                        <input type="number" class="form-control" id="subject4" name="subject4" required>
                    </div>
                    <button type="submit" class="btn btn-primary">Calculate</button>
                </form>

            </div>
        </div>
    </div>

</body>
</html>
